<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#exampleModal">Create agreement</button>
    </div>
</nav>
<div class="modal bs-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">Add new transaction</h4>
            </div>
            <form ng-submit="demoApp.submitPO()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="counterparty" class="control-label">Counter-party:</label>
                        <select ng-model="demoApp.form.counterparty" class="form-control">
                            <option selected disabled hidden>Select counterparty</option>
                            <option ng-repeat="peer in demoApp.peers">{{peer}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="orderNumber" class="control-label">Order Number (Int):</label>
                        <input type="text" ng-model="demoApp.form.orderNumber" class="form-control" id="orderNumber">
                    </div>
                    <div class="form-group">
                        <label for="deliveryDate" class="control-label">Delivery Date (Format: YYYY-MM-DD):</label>
                        <input type="text" ng-model="demoApp.form.deliveryDate" class="form-control" id="deliveryDate">
                    </div>
                    <div class="form-group">
                        <label for="city" class="control-label">City (String):</label>
                        <input type="text" ng-model="demoApp.form.city" class="form-control" id="city">
                    </div>
                    <div class="form-group">
                        <label for="country" class="control-label">Country (Two letter code, e.g. US / UK):</label>
                        <input type="text" ng-model="demoApp.form.country" class="form-control" id="country">
                    </div>
                    <div ng-repeat="item in demoApp.items">
                        <div class="form-group">
                            <label for="itemName" class="control-label">Item name (String):</label>
                            <input type="text" ng-model="item.name" class="form-control" id="itemName">
                        </div>
                        <div class="form-group">
                            <label for="itemAmount" class="control-label">Item amount (Int):</label>
                            <input type="text" ng-model="item.amount" class="form-control" id="itemAmount">
                        </div>
                    </div>
                    <div class="form-group">
                        <button ng-click="demoApp.addItem()" type="button" class="btn btn-default">Add Additional Item</button>
                        <button ng-click="demoApp.deleteItem()" type="button" class="btn btn-default">Remove Last Item</button>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create offer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div ng-show="demoApp.pos.length===0" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded agreements</h3>
            </div>
            <div class="panel-body">Use the "Create agreement" button to make an agreement with a peer.</div>
        </div>
        <div ng-show="demoApp.pos.length>0" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded agreements:</h3>
            </div>
        </div>
        <div ng-repeat="po in demoApp.pos" class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Purchase Order ID: {{po.po.orderNumber}}</li>
                    <li>Contract hash: {{po.contract.legalContractReference}}</li>
                    <li>Buyer: {{po.buyer}}</li>
                    <li>Seller: {{po.seller}}</li>
                    <li>Delivery City: {{po.po.deliveryAddress.city}}</li>
                    <li>Delivery Address: {{po.po.deliveryAddress.country}}</li>
                    <ul>
                        <li ng-repeat="item in po.po.items">{{item.name}} ({{item.amount}})</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>