<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openModal()" type="button" class="btn btn-primary navbar-btn">Create purchase order</button>
        <button ng-click="demoApp.getPOs()" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
</nav>
<script type="text/ng-template" id="demoAppModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title">Add new transaction</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="counterparty" class="control-label">Counter-party:</label>
                <select ng-model="modalInstance.form.counterparty" class="form-control" id="counterparty" ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="orderNumber" class="control-label">Order Number (Int):</label>
                <input type="text" ng-model="modalInstance.form.orderNumber" class="form-control" id="orderNumber">
            </div>
            <div class="form-group">
                <label for="deliveryDate" class="control-label">Delivery Date (Format: YYYY-MM-DD):</label>
                <input type="text" ng-model="modalInstance.form.deliveryDate" class="form-control" id="deliveryDate">
            </div>
            <div class="form-group">
                <label for="city" class="control-label">City (String):</label>
                <input type="text" ng-model="modalInstance.form.city" class="form-control" id="city">
            </div>
            <div class="form-group">
                <label for="country" class="control-label">Country (Two letter code, e.g. UK):</label>
                <input type="text" ng-model="modalInstance.form.country" class="form-control" id="country">
            </div>
            <div ng-repeat="item in modalInstance.items">
                <div class="form-group">
                    <label for="itemName" class="control-label">Item {{$index+1}} name (String):</label>
                    <input type="text" ng-model="item.name" class="form-control" id="itemName">
                </div>
                <div class="form-group">
                    <label for="itemAmount" class="control-label">Item {{$index+1}} amount (Int, max 10):</label>
                    <input type="text" ng-model="item.amount" class="form-control" id="itemAmount">
                </div>
            </div>
            <div class="form-group">
                <button ng-click="modalInstance.addItem()" type="button" class="btn btn-default">Add Additional Items</button>
                <button ng-click="modalInstance.deleteItem()" ng-show="modalInstance.items.length>1" type="button" class="btn btn-default">Remove Last Set of Items</button>
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid purchase order parameters
                </div>
            </div>           
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Create purchase order</button>
        </div>
    </form>
</div>
</script>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div ng-show="!demoApp.pos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded purchase orders</h3>
            </div>
            <div class="panel-body">Use the "Create purchase order" button to establish a purchase order with a peer.</div>
        </div>
        <div ng-show="demoApp.pos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded purchase orders:</h3>
            </div>
        </div>
        <div ng-repeat="po in demoApp.pos" class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Purchase Order ID: {{po.po.orderNumber}}</li>
                    <li>Contract hash: {{po.contract.legalContractReference}}</li>
                    <li>Buyer: {{po.buyer}}</li>
                    <li>Seller: {{po.seller}}</li>
                    <li>Delivery City: {{po.po.deliveryAddress.city}}</li>
                    <li>Delivery Address: {{po.po.deliveryAddress.country}}</li>
                    <li>Items:</li>
                    <ul>
                        <li ng-repeat="item in po.po.items">{{item.name}} ({{item.amount}})</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div ng-show="demoApp.pos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded agreements:</h3>
            </div>
        </div>
        <div ng-repeat="po in demoApp.pos" class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Purchase Order ID: {{po.po.orderNumber}}</li>
                    <li>Contract hash: {{po.contract.legalContractReference}}</li>
                    <li>Buyer: {{po.buyer}}</li>
                    <li>Seller: {{po.seller}}</li>
                    <li>Delivery City: {{po.po.deliveryAddress.city}}</li>
                    <li>Delivery Address: {{po.po.deliveryAddress.country}}</li>
                    <li>Items:</li>
                    <ul>
                        <li ng-repeat="item in po.po.items">{{item.name}} ({{item.amount}})</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>