.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .6;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    color: white;
    z-index: 100;
    background: black;
    position: relative;
    overflow-y: auto;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 50%;
    padding: 2rem;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    opacity: .3;
    cursor: pointer;
    border: none;
}
