
.net-params {
    max-width: 600px;
    overflow: scroll;
    height: auto;
    max-height: 600px;
    margin: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 20px;
    width: 75%;
}

.params-wrapper{
    width: 100%;
    display: inline-block;
}

.param-info{
    padding: 10px;
    color: #CCCCCC;
}

.param-info > div > span {
    color: #DF0B1B;
}