.filter-container {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    position: relative;
}

.filter-title{
    padding: 5px 10px;
    background: #DF0B1B;
    color: #FFFFFF;
    font-weight: bold;
}

.filter-group{
    margin-bottom: 10px;
    border: 1px solid #DF0B1B;
    background: #FAFAFA;
    margin: 0 20px 10px 20px;
}

.state-title{
    background: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.state-content{
    margin-right: 10px;
    padding: 0 10px;
    border-right: 1px solid #CCCCCC;
    height: 100%;
    font-size: 14px;
}

.state-wrapper{
    margin: 0 20px 20px 0;
    border: 1px solid #CCCCCC;
}

.state-wrapper:hover {
    box-shadow: 2px 1px 4px #999;
}

.meta-container{
    font-size: 12px;
    display: flex;
    justify-content: center;
    height: calc(100% - 15px);
    overflow: scroll;
    flex-direction: column;
}

.meta-container div{
    margin-bottom: 5px;
}

span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-609.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary {
    padding: 4px 5px 4px 9px;
}

span.MuiTypography-root.MuiFormControlLabel-label {
    font-size: 14px;
}

.tx {
    font-size: 12px;
    display: inline-block;
}

.bar{
    height: 20px;
    text-align: right;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.bar div{
    display: inline-block;
    padding: 2px 5px;
    margin: 0 0 0 8px;
    border-radius: 10px;
}

.green {
    background: lime;
    border: 1px solid limegreen;
}

.red{
    background: orangered;
    color: white;
    border: 1px solid mediumvioletred;
}

.blue{
    background: lightskyblue;
    border: 1px solid cadetblue;
}

.grey{
    background: lightgrey;
    border: 1px solid darkgrey;
}

.empty{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}