.vault-wrapper {
    overflow: scroll;
    height: auto;
    max-height: 800px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 90%;
}


.state-title{
    background: #DF0B1B;
    color: #F1F1F1;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.state-content{
    color: #F1F1F1;
    margin-right: 10px;
    padding: 0 10px;
    border-right: 1px solid #CCCCCC;
    height: 100%;
    font-size: 16px;
}

.state-wrapper{
    margin: 0 20px 20px 0;
    border: 1px solid #CCCCCC;
}

.state-wrapper:hover {
    box-shadow: 2px 1px 4px #999;
}

.meta-container{
    color: #F1F1F1;
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: calc(100% - 15px);
    overflow: scroll;
    flex-direction: column;
}

.meta-container div{
    margin-bottom: 5px;
}

span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-609.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary {
    padding: 4px 5px 4px 9px;
}

span.MuiTypography-root.MuiFormControlLabel-label {
    font-size: 14px;
}

.tx {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.bar{
    height: 20px;
    text-align: right;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.bar div{
    display: inline-block;
    padding: 2px 5px;
    margin: 0 0 0 8px;
    border-radius: 10px;
}

.green {
    color: white;
    font-weight: bold;
    background: #00cc66;
    border: 1px solid limegreen;
}

.red{
    color: white;
    font-weight: bold;
    background: orangered;
    color: white;
    border: 1px solid mediumvioletred;
}

.blue{
    font-weight: bold;
    color: white;
    background: lightskyblue;
    border: 1px solid cadetblue;
}

.grey{
    color: white;
    font-weight: bold;
    background: darkgray;
    border: 1px solid darkgrey;
}

.empty{
    color: #F1F1F1;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}